<div class="blog-post" itemprop="blogPost">
  <div itemscope itemtype='http://schema.org/BlogPosting'>
    <span itemprop="name">
      <h2 class="blog-post-title">
        <%= link_to(blog_post.title, blog_slug_path(blog_post.slug), { :itemprop => "url", :title => blog_post.title }) %>
      </h2>
    </span>
    <%= render( :partial => '/blog_posts/blog_post_meta_header', :locals => { :blog_post => blog_post }) %>
    <div itemprop="articleBody">
      <%= blog_post.rendered_content.html_safe %>
    </div>
  </div>
</div>
