-if @category.nil?
  .well-small
    %h2= "spaghettiprogramming.com blog"
-else
  .well-small
    %h2
      ="#{@category.name} Posts"
.row-fluid
  - if @blog_posts.empty?
    No posts
  - else
    = render @blog_posts
