<div class="blog-post" itemprop="blogPost">
  <div itemscope itemtype='http://schema.org/BlogPosting'>
    <span itemprop="name">
      <h1> <%= @blog_post.title %> </h1>
    </span>
    <%= render( :partial => '/blog_posts/blog_post_meta_header', :locals => { :blog_post => @blog_post }) %>
    <div itemprop="articleBody">
      <%= @blog_post.rendered_content.html_safe %>
    </div>
  </div>
</div>
