.hero-unit
  %h2 Compression Calculator
  %p
    The most accurate compression ratio calculator for Android.  Check it out on google play right 
    =link_to 'here.', 'https://play.google.com/store/apps/details?id=spaghetti.android.CompressionCalculator'


%p
  Ipsum. Praesent congue justo et nunc. Vestibulum nec felis vitae nisl pharetra
  sollicitudin. Quisque nec arcu vel tellus tristique vestibulum. Aenean vel
  lacus. Mauris dolor erat, commodo ut, dapibus vehicula, lobortis sit amet,
  orci. Aliquam augue. In semper nisi nec libero. Cras magna ipsum, scelerisque
  et, tempor eget, gravida nec, lacus. Fusce eros nisi, ullamcorper blandit,
  ultricies eget, elementum eget, pede. Phasellus id risus vitae nisl ullamcorper
  congue. Proin est.

  Sed eleifend odio sed leo. Mauris tortor turpis, dignissim vel, ornare ac,
  ultricies quis, magna. Phasellus lacinia, augue ac dictum tempor, nisi felis
  ornare magna, eu vehicula tellus enim eu neque. Fusce.
  
