.hero-unit
  %h2 Compression Calculator
  %p
    The most accurate compression ratio calculator for Android.  Check it out on google play right 
    =link_to 'here.', 'https://play.google.com/store/apps/details?id=spaghetti.android.CompressionCalculator'


%p
  %h5
    Compression Calculator is a very detailed and accurate compression ratio calculator for Android. It will calculate the static compression ratio of an internal combustion engine using the parameters you provide. It will also calculate the effective compression ratio based on boost and altitude.  You also get to see the quench distance, and total displacement of your engine. You will have to know a lot about the parts you are using in your engine, but you will get the most accurate answer. It supports both metric and standard measurements as input and you can easily switch between units of measurement.

.row
  .span6
    %h2 FAQ
    %p Answers to some basic questions that you may or may not have about the Compression Ratio Android app.
    %p
      %a.btn{:href => "#"} View details &raquo;
  .span6
    %h2 Definitions
    %p This app uses a lot of crazy engine builder terminology!  Deck height, rod length, what do they mean?  Don't worry!  Here is where we explain what all that jargon means and how it fits into the compression ratio.
    %p
      %a.btn{:href => "#"} View details &raquo;
