<div class="container">
  <div class="row p-5 bg-white">
    <div class="col g-5 d-flex align-items-center justify-content-center">
      <%= image_tag('spaghetti-01.png', class: 'p-5' ) %>
    </div>
  </div>
</div>
