<center>
  <div class='post center'>
    <h1>Internal server error.</h1>
    <p>
      <%= link_to(image_tag('/images/spaghetti_404.jpg'), root_path)  %>
    </p>
    <p>
      Click <%= link_to('here', root_path) %> to return home.
    </p>
</center>
