<center>
  <div class='post center'>
    <h1>Page not found.</h1>
    <p>
      <%= "/#{@not_found_path} is not a valid page." %>
    </p>
    <p>
      <%= link_to(image_tag('/images/spaghetti_404.jpg'), root_path)  %>
    </p>
    <p>
      Click <%= link_to('here', root_path) %> to return home.
    </p>
</center>
