a:link, a:hover, a:active, a:visited {
  color: #000000
}
.well, .well-small, .well-small h2, .well a:link, .well a:hover, .well a:active, .well a:visited {
  background-color: #000000;
  color: #ffffff;
}

.nav li a:hover {
  color: #ffffff;
  background-color: #000000;
  background-image: none;
}
.dropdown-menu {
  color: #ffffff;
  background-color: #000000;
}

.dropdown-toggle:hover .caret, .nav .dropdown-toggle .caret, .nav .dropdown-toggle:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.hero-unit, .hero-unit h2, .hero-unit a:link, .hero-unit a:hover, .hero-unit a:active, .hero-unit a:visited {
  background-color: #000000;
  color: #ffffff;
}
