.masthead::after {
  background-color:#EEEEEE;
  content:'';
  display:block;
  height:1px;
  margin:20px auto;
  width:100px;
}
.masthead {
  margin-bottom:84px;
}
.masthead p {
  color:#999999;
  padding-bottom:28px;
  text-align:center;
}
.masthead p a {
  color:#555555;
}
.masthead p strong {
  color:#555555;
  font-weight:bold;
  font-size:200%;
}
.masthead p strong a {
  color:#222222;
}

.center {
  margin-left:auto;
  margin-right:auto;
  float:none;
}

.post {
  margin-bottom:84px;
  position:relative;
}
.post::after {
  background-color:#EEEEEE;
  content:'';
  display:block;
  height:1px;
  margin:84px auto 20px;
  width:100px;
}
.post img {
  max-width:100%;
}
.post ul, .post ol {
  margin-left:30px;
}
.post-date {
  color:#CCCCCC;
  display:block;
  margin:-10px 0 10px;
}

.pagination {
  color:#CCCCCC;
  margin-bottom:80px;
  text-align:center;
}
.pagination a, .pagination span {
  display:inline-block;
  padding:5px 10px;
}
.pagination a:hover {
  background-color:#EEEEEE;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  text-decoration:none;
}

