.well
  %h2 Categories
%p
- if @categories.empty?
  No categories
- else
  .row-fluid
    %p= link_to "New Category", new_category_path
  -@categories.each do |category|
    .row-fluid
      %p
        %h2= link_to category.name, category
        =link_to :edit, edit_category_path(category)
        =link_to :delete, category_path(category), :method => :delete
